{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8">
            <p class="lead">{{ page.introduction }}</p>

            {% if sub_pages %}
                {% if sub_pages.object_list.exists %}
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-4">
                        {% for sub_page in sub_pages.object_list.specific %}
                            <div class="col">
                                {% pageurl sub_page as url %}
                                {% include "components/link_card.html" with title=sub_page.title description=sub_page.introduction url=url %}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    {# This page is empty #}
                {% endif %}
            {% endif %}
            {% include "components/navigation/pagination.html" with page=sub_pages %}
        </div>
        <div class="col-12 col-md-4">
        {# Sidebar #}
        </div>
    </div>
{% endblock %}