{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8">
            <p class="lead">{{ page.introduction }}</p>
            <h2 class="visually-hidden">Home page content</h2>

            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="col-12 col-md-4 mt-4 mt-md-0">
            {% if recent_news %}
                {% include "components/recent_news_card.html" with recent_news=recent_news news_index_page=news_index_page only %}
            {% endif %}
        </div>
    </div>
{% endblock %}