{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password required{% endblock %}

{% block page_title %}
    <h1>Password required</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8">
            <p>
                You need a password to access this page.
                {% if user.is_authenticated %}
                    To proceed, please log in with an account that has access.
                {% endif %}
            </p>
            {% crispy form %}
        </div>
    </div>
{% endblock %}