{% load wagtailimages_tags %}

<div class="process-step mb-4">
    <div class="process-step__content">
        <h3 class="process-step__title">
            <span class="process-step__letter">{{ step_letter }}.</span>
            {{ value.title }}
        </h3>
        <div class="process-step__description">
            {{ value.description }}
        </div>
    </div>
    {% if value.picture %}
        <div class="process-step__image">
            {% image value.picture width-600 class="img-fluid rounded" %}
        </div>
    {% endif %}
</div>

