{% load wagtailcore_tags %}

<div class="table-block my-4">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            {% if value.first_row_is_table_header %}
                <thead>
                    <tr>
                        {% for cell in value.data.0 %}
                            <th scope="col">{{ cell|default_if_none:'' }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                {% if not value.first_row_is_table_header %}
                    <tr>
                        {% for cell in value.data.0 %}
                            <td>{{ cell|default_if_none:'' }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
                {% for row in value.data|slice:"1:" %}
                    <tr>
                        {% for cell in row %}
                            {% if value.first_col_is_header and cell == row.0 %}
                                <th scope="row">{{ cell|default_if_none:'' }}</th>
                            {% else %}
                                <td>{{ cell|default_if_none:'' }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>