<li class="nav-item dropdown has-megamenu">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">{{ parent_link_text }}</a>
    <div class="dropdown-menu megamenu shadow-sm border-0 w-100" role="menu">
        <div class="container py-4">
            <h5 class="h2 fw-bold mb-4">
                {% if parent_link %}
                    <a href="{{ parent_link }}" class="link-primary text-decoration-none">{{ parent_link_text }}<i class="h4 bi bi-chevron-right"></i></a>
                {% else %}
                    {{ parent_link_text }}
                {% endif %}
            </h5>
            <div class="row g-4">
                {% for column in columns %}
                    <div class="col-lg-3">
                        <h6 class="fw-bold text-primary mb-3">{{ column.heading }}</h6>
                        <ul class="list-unstyled">
                            {% for link in column.links %}
                                <li>
                                    <a class="dropdown-item py-2 text-decoration-none" href="{{ link.get_url }}">{{ link.get_link_text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}

                <!-- Call to Action Block -->
                {% if call_to_action %}
                    <div class="col-lg-3 ms-auto">
                        <div class="bg-primary text-white p-4">
                            <h4 class="fw-bold mb-2">{{ call_to_action.title }}</h4>
                            <p class="mb-3">{{ call_to_action.summary }}</p>
                            <a href="{{ call_to_action.url }}" class="btn btn-light">{{ call_to_action.link_text }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</li>