{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block title %}Search{% endblock %}
{% block page_title %}
    <h1>Search</h1>
{% endblock %}

{% block content %}
    <p class="lead">
        {% wagtail_site as site %}
        Enter a search term below to find pages on {{ site.site_name }}.
    </p>
    {% include "components/search/search_form.html" with action_url=search_url search_query=search_query placeholder="Search..." input_group_size="" input_size="lg" %}

    {% if search_query %}
        <div class="row">
            <div class="col-12 col-md-8">
                {% include "components/search/search_results.html" with search_query=search_query search_results=search_results show_query_in_count=False no_margin=True %}
            </div>
        </div>
    {% endif %}
{% endblock %}
