<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination">
        {% if page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% querystring page=page.previous_page_number %}">Previous</a>
            </li>
        {% endif %}
        {% for page_number in page.paginator.page_range %}
            <li class="page-item">
                <a class="page-link" href="{% querystring page=page_number %}">{{ page_number }}</a>
            </li>
        {% endfor %}
        {% if page.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% querystring page=page.next_page_number %}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>