{% load wagtailcore_tags wagtailimages_tags %}
{% wagtail_site as current_site %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% pageurl current_site.root_page %}">
            {% if logo %}
                {% image logo height-48 class="navbar-logo" %}
            {% else %}
                <div class="logo-assembly logo-inline-w175">
                    {% include "components/navigation/includes/default_logo.html" %}
                    <h6 class="logo-assembly__text">{{ unit_name }}</h6>
                </div>
            {% endif %}
        </a>
        <span class="navbar-text fw-bold border-start ps-3 pe-3 d-none d-xl-block">
            <a href="{% pageurl current_site.root_page %}" class="text-decoration-none">
                {{ current_site.site_name }}
            </a>
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if APP_SHOW_MENU_WHEN_UNAUTHENTICATED or request.user.is_authenticated %}
                    {% for item in primary_nav %}
                        {% include_block item %}
                    {% endfor %}
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                <div class="navbar-nav">
                    {% include "components/navigation/includes/search_bar.html" %}
                    <form action="{% url 'accounts:logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="nav-link py-0" type="submit" title="Logout">
                            <i class="bi bi-box-arrow-right fs-4 d-none d-lg-inline"></i>
                            <span class="d-inline d-lg-none">Logout</span>
                        </button>
                    </form>
                </div>
            {% else %}
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'accounts:login' %}">
                        <i class="bi bi-box-arrow-in-right me-2"></i>Login
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
